<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 my-5"></div>
            <div class="col-lg-8 my-5">
                <h1 class="text-lg-center">404!</h1>
                <p class="text-lg-center">
                    Oops, it seems we ran into some problem: <b><i> <%- message %> </b></i>
                </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
  
<%- include('includes/footer') %>  